@import "./colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px $b;
  padding: 5px 20px;
  border-radius: 20px;

  > p:first-of-type {
    font-size: 32px;
    color: $sc;
    font-weight: bold;
  }

  > .menuBar {
    display: none;
    font-size: 20px;
    cursor: pointer;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 30px;
    transition: width 0.7s ease-in-out;

    > p {
      > a {
        text-decoration: none;
        color: $pc;
        cursor: pointer;
        letter-spacing: 1px;
        opacity: 0.5;
        transition: opacity 0.4s ease-in-out;
        white-space: nowrap;
      }
      > .active {
        opacity: 1;
      }
    }
  }

  > .blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    z-index: 90;
    transition: backdrop-filter 1s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 90%;

    > div {
      // display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0%;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $bg;
      z-index: 999;
      box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.084);
      &.open {
        width: 80%;
      }
    }
    > .menuBar {
      display: block;
    }
  }
}
